<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PremierDesignManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <PremierDesignManagement.Properties.Settings>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="forename" serializeAs="String">
                <value />
            </setting>
            <setting name="surname" serializeAs="String">
                <value />
            </setting>
            <setting name="PDMDatabaseConnectionString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PDMDatabase.mdf;Integrated Security=True</value>
            </setting>
            <setting name="DatabaseConnHome" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\elect\source\repos\PremierDesignManagement\PremierDesignManagement\PDMDatabase.mdf;Integrated Security=True</value>
            </setting>
        </PremierDesignManagement.Properties.Settings>
    </applicationSettings>
</configuration>