<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PremierDesignManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <applicationSettings>
    <PremierDesignManagement.Properties.Settings>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="forename" serializeAs="String">
        <value />
      </setting>
      <setting name="surname" serializeAs="String">
        <value />
      </setting>
      <setting name="PDMDatabaseConnectionString" serializeAs="String">
        <value>Data Source=WIN10THEA01;Initial Catalog=PDMDATABASE;Persist Security Info=True;User ID=SQLEXPRESS01;Password=premier123</value>
      </setting>
      <setting name="DatabaseConnHome" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\elect\source\repos\PremierDesignManagement\PremierDesignManagement\PDMDatabase.mdf;Integrated Security=True</value>
      </setting>
      <setting name="PDMDatabaseLocal" serializeAs="String">
        <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\dave.shearing\Source\Repos\premierdesignmanagement\PremierDesignManagement\PDMDatabase.mdf;Integrated Security=True</value>
      </setting>
      <setting name="UsersStringCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Dave Shearing</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="UsernamesStringCollection" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>dave.shearing</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MainWorkflow" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>New</string>
            <string>In Progress</string>
            <string>Review</string>
            <string>Approved</string>
            <string>Changes Requested</string>
            <string>Completed</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FileDirectory" serializeAs="String">
        <value>\\APPS-1.premier.local\Shared\Technical\PDM\Task Files\</value>
      </setting>
    </PremierDesignManagement.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
</configuration>